<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas


**Same assignment as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset) + [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution).**

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data â€“ it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
# to draw pictures in jupyter notebook
%matplotlib inline
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("../../data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
# You code here
#Just using value_counts
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [10]:
#The same result can be accomplished via:
print((data['sex']=='Male').sum())
print((data['sex']=='Female').sum())

21790
10771

**2. What is the average age (*age* feature) of women?**

In [15]:
# You code here
#Can be calculated as follows:
print((data[data['sex']=='Female']['age'].sum()) / (data['sex']=='Female').sum())
#Or just use mean.
(data[data['sex']=='Female'])['age'].mean()

36.85823043357163

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [18]:
# You code here
data['native-country'].value_counts(normalize = True)

United-States                 0.895857
Mexico                        0.019748
?                             0.017905
Philippines                   0.006081
Germany                       0.004207
Canada                        0.003716
Puerto-Rico                   0.003501
El-Salvador                   0.003255
India                         0.003071
Cuba                          0.002918
England                       0.002764
Jamaica                       0.002488
South                         0.002457
China                         0.002303
Italy                         0.002242
Dominican-Republic            0.002150
Vietnam                       0.002058
Guatemala                     0.001966
Japan                         0.001904
Poland                        0.001843
Columbia                      0.001812
Taiwan                        0.001566
Haiti                         0.001351
Iran                          0.001321
Portugal                      0.001136
Nicaragua                     0.001044
Peru                          0.000952
France                        0.000891
Greece                        0.000891
Ecuador                       0.000860
Ireland                       0.000737
Hong                          0.000614
Trinadad&Tobago               0.000584
Cambodia                      0.000584
Laos                          0.000553
Thailand                      0.000553
Yugoslavia                    0.000491
Outlying-US(Guam-USVI-etc)    0.000430
Hungary                       0.000399
Honduras                      0.000399
Scotland                      0.000369
Holand-Netherlands            0.000031
Name: native-country, dtype: float64

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [23]:
# You code here
#For those who earn less than 50K a year
data[data['salary']=='<=50K']['age'].describe()

count    24720.000000
mean        36.783738
std         14.020088
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

In [24]:
data[data['salary']=='>50K']['age'].describe()

count    7841.000000
mean       44.249841
std        10.519028
min        19.000000
25%        36.000000
50%        44.000000
75%        51.000000
max        90.000000
Name: age, dtype: float64

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [27]:
# You code here
data[data['salary']=='>50K']['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [28]:
# You code here
data.groupby('race').describe()

                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                           fnlwgt                                         \
                     max    count           mean            std      min
race
Amer-Indian-Eskimo  82.0    311.0  120831.147910   88338.636336  12285.0
Asian-Pac-Islander  90.0   1039.0  159940.609240   85122.307505  14878.0
Black               90.0   3124.0  228013.124200  123600.677422  19752.0
Other               77.0    271.0  197124.191882   88856.775370  24562.0
White               90.0  27816.0  187298.064280  103124.944196  18827.0

                                                            education-num  \
                         25%       50%       75%        max         count
race
Amer-Indian-Eskimo   35036.5  102541.0  176142.0   445168.0         311.0
Asian-Pac-Islander   93321.0  143098.0  194456.0   506329.0        1039.0
Black               148212.0  205934.0  281693.0  1268339.0        3124.0
Other               138103.0  188793.0  240091.0   481175.0         271.0
White               116902.5  177627.0  233542.5  1484705.0       27816.0

                                                                     \
                         mean       std  min  25%   50%   75%   max
race
Amer-Indian-Eskimo   9.311897  2.310387  2.0  9.0   9.0  10.0  16.0
Asian-Pac-Islander  10.960539  2.811582  1.0  9.0  10.0  13.0  16.0
Black                9.486236  2.297893  1.0  9.0   9.0  10.0  16.0
Other                8.841328  3.226153  1.0  7.5   9.0  10.0  16.0
White               10.135246  2.570307  1.0  9.0  10.0  13.0  16.0

                   capital-gain                                                \
                          count         mean          std  min  25%  50%  75%
race
Amer-Indian-Eskimo        311.0   625.266881  2753.238961  0.0  0.0  0.0  0.0
Asian-Pac-Islander       1039.0  1478.358037  9986.156906  0.0  0.0  0.0  0.0
Black                    3124.0   609.940461  5139.653447  0.0  0.0  0.0  0.0
Other                     271.0   934.660517  8625.128995  0.0  0.0  0.0  0.0
White                   27816.0  1121.660375  7504.533302  0.0  0.0  0.0  0.0

                            capital-loss                                   \
                        max        count       mean         std  min  25%
race
Amer-Indian-Eskimo  27828.0        311.0  34.176849  245.583106  0.0  0.0
Asian-Pac-Islander  99999.0       1039.0  97.222329  423.556931  0.0  0.0
Black               99999.0       3124.0  60.385083  337.394121  0.0  0.0
Other               99999.0        271.0  61.070111  322.452705  0.0  0.0
White               99999.0      27816.0  90.806155  410.833347  0.0  0.0

                                     hours-per-week                        \
                    50%  75%     max          count       mean        std
race
Amer-Indian-Eskimo  0.0  0.0  1980.0          311.0  40.048232  11.695364
Asian-Pac-Islander  0.0  0.0  2457.0         1039.0  40.127045  12.556816
Black               0.0  0.0  4356.0         3124.0  38.422855  10.315646
Other               0.0  0.0  2179.0          271.0  39.468635  11.143755
White               0.0  0.0  4356.0        27816.0  40.689100  12.544796


                    min   25%   50%   75%   max
race
Amer-Indian-Eskimo  3.0  40.0  40.0  40.0  84.0
Asian-Pac-Islander  1.0  40.0  40.0  40.0  99.0
Black               1.0  37.0  40.0  40.0  99.0
Other               5.0  36.0  40.0  40.0  98.0
White               1.0  40.0  40.0  45.0  99.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [43]:
# You code here
def married(x):
    if (x.startswith('Married')):
        return True
    else: return False

data['married'] = data['marital-status'].apply(married)

In [45]:
for index, subframe in data.groupby('married'):
    print(index)
    print(subframe['salary'].value_counts())

False
<=50K    16039
>50K      1105
Name: salary, dtype: int64
True
<=50K    8681
>50K     6736
Name: salary, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [48]:
# You code here
data[data['hours-per-week'] == data['hours-per-week'].max()]['salary'].value_counts(normalize = True)

<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [51]:
# You code here
for index, subframe in data.groupby('native-country'):
    print(index)
    print(subframe[subframe['salary'] == '>50K']['hours-per-week'].mean())
    print(subframe[subframe['salary'] == '<=50K']['hours-per-week'].mean())

?
45.54794520547945
40.16475972540046
Cambodia
40.0
41.416666666666664
Canada
45.64102564102564
37.91463414634146
China
38.9
37.38181818181818
Columbia
50.0
38.68421052631579
Cuba
42.44
37.98571428571429
Dominican-Republic
47.0
42.338235294117645
Ecuador
48.75
38.041666666666664
El-Salvador
45.0
36.03092783505155
England
44.53333333333333
40.483333333333334
France
50.75
41.05882352941177
Germany
44.97727272727273
39.13978494623656
Greece
50.625
41.80952380952381
Guatemala
36.666666666666664
39.36065573770492
Haiti
42.75
36.325
Holand-Netherlands
nan
40.0
Honduras
60.0
34.333333333333336
Hong
45.0
39.142857142857146
Hungary
50.0
31.3
India
46.475
38.233333333333334
Iran
47.5
41.44
Ireland
48.0
40.94736842105263
Italy
45.4
39.625
Jamaica
41.1
38.23943661971831
Japan
47.958333333333336
41.0
Laos
40.0
40.375
Mexico
46.57575757575758
40.00327868852459
Nicaragua
37.5
36.09375
Outlying-US(Guam-USVI-etc)
nan
41.857142857142854
Peru
40.0
35.06896551724138
Philippines
43.032786885245905
38.065693430656935
Poland
39.0
38.166666666666664
Portugal
41.5
41.93939393939394
Puerto-Rico
39.416666666666664
38.470588235294116
Scotland
46.666666666666664
39.44444444444444
South
51.4375
40.15625
Taiwan
46.8
33.774193548387096
Thailand
58.333333333333336
42.86666666666667
Trinadad&Tobago
40.0
37.05882352941177
United-States
45.50536884674383
38.79912723305605
Vietnam
39.2
37.193548387096776
Yugoslavia
49.5
41.6